@import url();

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(image/NEWDESIGN.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    background-color: #113d48; 
    opacity: initial;
}
.wrapper{
    width: 420px;
    background-color: cadetblue;
    background: black;
    border: 2px, solid rgb(255, 255, 255);
    border-radius: 9px;
    color: #fff;
    padding: 50px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 1px black;
}
.wrapper h1{
    text-align: center;
    font-size: 49px;
    color: rgb(63, 22, 117);
    margin-top: -20px;
}
.wrapper input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
    align-items: center;

}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid;
    padding: 10px;
    outline: none;
    border-radius: 40px;
    border-color: rgb(255, 255, 255);
}
.register-link p{
    color: black;
}
.remember-forgot{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;}
.remember-forgot label{
    color: black;
}
.btn{
    width: 100%;
    background: rgb(84, 37, 146);
    height: 40px;
    border-radius: 10px;
    color: #000000;
}
.input-box ::placeholder{
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.input-box input {
    color: rgb(70, 4, 70);
    font-size: 18px;
}
.register-link{
    text-align: center;
    margin-top: 20px;
}
.register-link p a{
    color: rgb(121, 121, 121);
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
    color: white;
}
.btn:hover{
    background: rgb(95, 61, 17);
}