body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}
.wop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 400px;
    background-color: rgb(246, 246, 246);
    border-radius: 25px;
    box-shadow: 5px 5px rgb(124, 124, 124);
}
.wrap{
    display: block;
    justify-content: center;
    align-items: center;
}
#count{
    display: flex;
    justify-content: center;
    font-size: 6em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.btn{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}
.btn1{
    width: 100px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgb(5, 5, 79);
    font-style: italic;
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;

}
